/* GLOBAL */
*{
    box-sizing: border-box;
}

/* Xóa hiệu ứng của float */
.clear{
    clear: both;
}

/* ================================================================ */

/* MENU */

/* chỉnh ul là thẻ con của .header */
.header ul{
    /*  B1: Xóa dấu tròn đen của danh sách */
    list-style: none;
    background-color: #000000;
    padding: 20px;
}

/* 
    margin :
            x       (all = x)
            x,y     (top,bottom=x; left,right=y)
            x,y,z   (top=x; left=right=y; bottom=z)

    margin : khoảng cách giữa thẻ với thẻ
    padding : khoảng cách giữa border với content thẻ
*/


.header a{
    /*  B2: Xóa dấu gạch dưới của thẻ a */
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.header li{
    display: inline;
    margin: 20px;
}

.carousel{
    background-image: url(../IMG/slider_1.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
    margin: 0 10px;
}
/* ================================================================ */

/* PRODUCTS */

/*  kích thước của 1 thẻ: 
            width = content + padding + border
   
    border box: giữ nguyên kích thước thẻ
*/

.products__item{
    float: left;
    width: 25%;
    padding: 0 10px;
}

.products__item img{
    width: 100%;
}

/* ================================================================ */

/* BANNER */

.banner{
    background-image: url(../IMG/nature.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    margin: 10px 10px;
    position: relative;
}

.banner__circle{
    width: 300px;
    height: 300px;
    /* có thể dùng thẻ opacity để chỉnh độ trong suốt của thẻ, nhưng chữ cũng sẽ mờ theo */
    background-color: #ff2b2b83;
    /* Bo tròn 4 góc của thẻ */
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
    text-align: center;

    /* Thẻ cần di chuyển : khai báo position absolute; thông thường người ta dùng thẻ cha gần nhất để khai báo điểm tựa cho thẻ con. */
    position: absolute;
    /* gần phía nào thì xét vị trí từ phía đó, chỉ cần xét 2 hướng là được */
    left: 300px;
    top: 50px;
}
